# Lab 2: Data Wrangling, Analysis, and Visualization

## Introduction
This laboratory exercise is divided into three parts. The first part focuses on data wrangling. The second part guides you through data analysis. In the final part, you will explore data visualization. Upon completion of these sections, there is again a reflection exercise that we strongly encourage you to undertake. These are crucial techniques in data science to clean, prepare, analyze, and present data effectively. You will be working with three distinct datasets, each presenting unique challenges and learning opportunities.

### Overview of the Lab Topics
- **Data Wrangling**: Handling missing values, removing duplicates, converting data types, merging multiple CSV files, and creating new columns
- **Data Analysis**: Performing descriptive statistics, correlation analysis, grouping and aggregation, and trend analysis.
- **Data Visualization**: Creating various types of plots to visualize the data.

This lab will take a while to go through, so don't be afraid to take breaks. And remember to use an AI-copilot as you are going through this to ask questions about bits of code that you don't understand.

You can copy the code into your GenAI tool and ask questions like "Are there other ways of doing this?" "Can you explain the pros and cons of using this option?" "Can you breakdown this code for me in detail?"

I encourage you to do this to make the most out of the lab!

## Data Wrangling

Data wrangling includes preprocessing and cleaning steps that are critical in the data analysis pipeline. The quality of data directly impacts the quality of insights that can be derived from it. Preprocessing involves transforming raw data into a clean and usable format. Cleaning involves handling missing values, correcting errors, and preparing the data for analysis.

### Handling Missing Values
Missing values are common in datasets and can significantly affect the results of your analysis. Common strategies to handle missing values include:
- **Removal**: Removing rows or columns with missing values.
- **Imputation**: Filling missing values with a specific value such as the mean, median, or mode of the column.
- **Prediction**: Using machine learning models to predict missing values based on other features.

Let's start by importing the required libraries and loading the CSV file for `shopping_behavior` dataset in `Kaggle Ecommerce` and examining the data to identify errors.

In [7]:
# Importing necessary libraries
import os  # Module for interacting with the operating system
import pandas as pd  # Library for data manipulation and analysis
import numpy as np  # Library for numerical computations

# Define the relative path to the dataset CSV file
file_path = '../Datasets/Kaggle_Ecommerce/shopping_behavior.csv'

# Read the CSV file into a pandas DataFrame
shop_behav = pd.read_csv(file_path)

# Display the first 5 rows of the DataFrame
shop_behav.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

### Handling Missing Values
Identify and handle missing values in the dataset.

This code checks for missing values in the `shop_behav` DataFrame.

- **shop_behav.isnull()**: Identifies all the null (missing) values in the DataFrame.
- **sum()**: Counts the total number of missing values in each column.

The result shows the number of missing values per column, helping us understand the extent of missing data in our dataset.

In [8]:
# Identify missing values
shop_behav.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     1
Location                  0
Size                      0
Color                     2
Season                    0
Review Rating             1
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

<div style="background-color: #ADD8E6; padding: 10px;">

🤖 
<br>
**Now that you know which columns have null values, ask Generative AI about various methods of handling this. Remember to ask about the pros and the cons of different options.**

</div>

This code handles missing values in the `shop_behav` DataFrame. Here, we are filling the missing values with the mean of the corresponding column.

- **missing_cols**: Identifies columns with any missing values.
- **for col in missing_cols**: Iterates through each column with missing values.
    - **if shop_behav[col].dtype in [np.float64, np.int64]**: Checks if the column is numerical.
    - **shop_behav[col].fillna(shop_behav[col].mean(), inplace=True)**: Fills missing values in numerical columns with the column mean.

In [9]:
# Identify columns with missing values
missing_cols = shop_behav.columns[shop_behav.isnull().any()]

# Fill missing values in numerical columns with the mean value of those columns
for col in missing_cols:
    # Check if the column's data type is either float64 or int64 (i.e., a numerical column)
    if shop_behav[col].dtype in [np.float64, np.int64]:
        # Replace NaN values with the mean of the column
        shop_behav[col].fillna(shop_behav[col].mean(), inplace=True)

We again check for missing values, and as can be seen, there are none left.

In [10]:
# Rechecking for missing values
shop_behav.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     1
Location                  0
Size                      0
Color                     2
Season                    0
Review Rating             1
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

### Removing Duplicates
Duplicate records can skew your analysis and lead to incorrect insights. Removing duplicates ensures that each record in your dataset is unique. This is typically done by identifying and removing rows that have identical values across all columns.

This code checks for duplicate rows in the `shov_behav` DataFrame.

- **data2.duplicated()**: Identifies duplicate rows.
- **sum()**: Counts the total number of duplicate rows in the DataFrame.

In [11]:
# Identify duplicates
shop_behav.duplicated().sum()

1

This indicates that the dataset has one duplicate row. We will fix it now.

- **shop_behav.drop_duplicates(inplace=True)**: Removes duplicate rows from the DataFrame and updates `shop_behav` in place.

In [12]:
# Remove duplicates
shop_behav.drop_duplicates(inplace=True)
shop_behav.duplicated().sum()

0

The dataset now has `0` duplicates

### Data Type Conversion
Ensuring that each column has the correct data type is crucial for accurate analysis. In a DataFrame, each column must contain only one type of data. This is because DataFrames are like tables where each column needs to be uniform in type. For example:
- Dates should be stored as date objects.
- Numbers should be in numerical formats like integers or floats.
- Categorical data should be stored as category types.
Let's look at an example with the 'Review Rating' column. This column should contain numbers (floats), but due to some rows having extra text like ' stars', its data type is currently a string (object). Here's what it looks like:

In [13]:
shop_behav['Review Rating'][55:60]

55            3
56          4.7
57    4.4 stars
58          4.2
59          4.6
Name: Review Rating, dtype: object

### Steps to Correct Data Type Conversion

1. **Try to Convert the Column to Float**:

In [14]:
try:
    shop_behav['Review Rating'] = shop_behav['Review Rating'].astype('float')
except ValueError as e:
    print(f"Error encountered: {e}")

Error encountered: could not convert string to float: '4.4 stars'

- This code tries to change 'Review Rating' to float type.
- It fails because some values have ' stars', which can't be converted to a number.
- The error message tells us there's a problem.


2. **Find the Problematic Rows**:

In [15]:
# Create a function to check if a value can be converted to float
def can_convert_to_float(value):
    try:
        float(value)
        return True
    except ValueError:
        return False

# Apply the function to each value in 'Review Rating' and find problematic rows
problematic_rows = shop_behav[~shop_behav['Review Rating'].apply(can_convert_to_float)]
print(problematic_rows)

    Customer ID  Age Gender Item Purchased   Category Purchase Amount (USD)  \
57           58   21   Male           Coat  Outerwear                    64

         Location Size  Color  Season Review Rating Subscription Status  \
57  West Virginia    M  White  Summer     4.4 stars                 Yes

   Shipping Type Discount Applied Promo Code Used  Previous Purchases  \
57  Store Pickup              Yes             Yes                  17

   Payment Method Frequency of Purchases
57     Debit Card            Fortnightly

- This code finds rows where 'Review Rating' has the text 'stars'.
- Printing these rows helps us see where the issue is.

3. **Clean the 'Review Rating' Column:**

In [16]:
# Remove ' stars' from 'Review Rating'
shop_behav['Review Rating'] = shop_behav['Review Rating'].str.replace(' stars', '')

- This line removes ' stars' from all values in the 'Review Rating' column.
- Now the column should have only numbers as strings, ready to convert to float.

<div style="background-color: #ADD8E6; padding: 10px;">

🤖 
<br>
**Ask Generative AI the ways you can format these kinds of strings**

</div>


4. **Displaying Data Types**:

In [17]:
shop_behav.dtypes

Customer ID                int64
Age                        int64
Gender                    object
Item Purchased            object
Category                  object
Purchase Amount (USD)     object
Location                  object
Size                      object
Color                     object
Season                    object
Review Rating             object
Subscription Status       object
Shipping Type             object
Discount Applied          object
Promo Code Used           object
Previous Purchases         int64
Payment Method            object
Frequency of Purchases    object
dtype: object


- Displays the data types of all columns in the `shop_behav` DataFrame to verify the conversion. We see that Rating is still an object, so we have to convert it.

In [18]:
# Fixing the 'Review Rating' column by removing the ' stars' string and converting to float
shop_behav['Review Rating'] = shop_behav['Review Rating'].str.rstrip(' stars').astype('float') 

# Display data types of the columns
shop_behav.dtypes

Customer ID                 int64
Age                         int64
Gender                     object
Item Purchased             object
Category                   object
Purchase Amount (USD)      object
Location                   object
Size                       object
Color                      object
Season                     object
Review Rating             float64
Subscription Status        object
Shipping Type              object
Discount Applied           object
Promo Code Used            object
Previous Purchases          int64
Payment Method             object
Frequency of Purchases     object
dtype: object

Again checking the same rows of the column, we can see that the data type is now `float64`:

In [19]:
shop_behav['Review Rating'][55:60]

55    3.0
56    4.7
57    4.4
58    4.2
59    4.6
Name: Review Rating, dtype: float64

### Merging CSV Files
When working with large datasets, data may be split across multiple files. Merging these files into a single dataset is often necessary. This involves reading each file and concatenating them into one dataframe.

We first load the NOAA dataset and list the files it has.

In [20]:
folder_path = '../Datasets/NOAA_Weather'  # Define the path to the folder containing the CSV files

# List comprehension to find all files in the folder that end with '.csv'
csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]

print(csv_files)  # Print the list of CSV files to check which files were found

['31285099999.csv', '72484653123.csv', '99999926563.csv']

We can see that it has three different CSV files, which are basically weather data recordings from three different stations. Let's suppose we want to perform an analysis for all three stations, it is much more efficient to concatenate all of them into one and then perform the required tasks.

The below code concatenates multiple CSV files into a single DataFrame.

- **pd.concat([...])**: Concatenates the list of DataFrames into a single DataFrame.
- **[pd.read_csv(os.path.join(folder_path, file)) for file in csv_files]**: This list comprehension reads each CSV file in the `csv_files` list and returns a list of DataFrames.
    - **os.path.join(folder_path, file)**: Constructs the full file path for each CSV file.
    - **pd.read_csv(...)**: Reads the CSV file into a DataFrame.
- **ignore_index=True**: Ensures that the resulting DataFrame has a new, continuous index.

The result is a single DataFrame, `noaa`, containing the data from all the CSV files.

In [21]:
# Load and concatenate all CSV files
noaa = pd.concat([pd.read_csv(os.path.join(folder_path, file)) for file in csv_files], ignore_index=True)

# Display the first few rows of the combined DataFrame
noaa.head()

,STATION,DATE,SOURCE,LATITUDE,LONGITUDE,ELEVATION,NAME,REPORT_TYPE,CALL_SIGN,QUALITY_CONTROL,...,CU2,CU3,CV1,CV2,CV3,CW1,GH1,IB2,KF1,OB1
0,31285099999,2024-01-01T00:00:00,4,54.5,134.416667,62.0,"UDSKOE, RS",FM-12,99999,V020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,31285099999,2024-01-01T03:00:00,4,54.5,134.416667,62.0,"UDSKOE, RS",FM-12,99999,V020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,31285099999,2024-01-01T06:00:00,4,54.5,134.416667,62.0,"UDSKOE, RS",FM-12,99999,V020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,31285099999,2024-01-01T09:00:00,4,54.5,134.416667,62.0,"UDSKOE, RS",FM-12,99999,V020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,31285099999,2024-01-01T12:00:00,4,54.5,134.416667,62.0,"UDSKOE, RS",FM-12,99999,V020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- `pd.concat([...])` combines multiple DataFrames into a single DataFrame.
- `[pd.read_csv(os.path.join(folder_path, file)) for file in csv_files]` reads each CSV file into a DataFrame and creates a list of these DataFrames.
- `ignore_index=True` reindexes the combined DataFrame to have a continuous index.

To verify that `noaa` indeed has all three stations:

In [22]:
noaa['STATION'].unique()

array([31285099999, 72484653123, 99999926563])

### Creating New Columns
Creating new columns from existing data can provide additional insights or make data analysis easier. This can involve operations like arithmetic transformations, conditional logic, or feature engineering.

This code creates a new column 'COORDINATES' in the `noaa` DataFrame by concatenating the 'LATITUDE' and 'LONGITUDE' columns as strings.

- **noaa['LATITUDE'].astype('str')**: Converts the 'LATITUDE' column to strings.
- **noaa['LONGITUDE'].astype('str')**: Converts the 'LONGITUDE' column to strings.
- **noaa['LATITUDE'].astype('str') + ',' + noaa['LONGITUDE'].astype('str')**: Concatenates the latitude and longitude values with a comma in between to form coordinate strings.
- **noaa['COORDINATES']**: Assigns the resulting coordinate strings to a new column 'COORDINATES' in the DataFrame.

In [23]:
# Create a new column "Coordinates", which is "Latitude, Longitude"
noaa['COORDINATES'] = noaa['LATITUDE'].astype('str') + ',' + noaa['LONGITUDE'].astype('str')
noaa.head()

,STATION,DATE,SOURCE,LATITUDE,LONGITUDE,ELEVATION,NAME,REPORT_TYPE,CALL_SIGN,QUALITY_CONTROL,...,CU3,CV1,CV2,CV3,CW1,GH1,IB2,KF1,OB1,COORDINATES
0,31285099999,2024-01-01T00:00:00,4,54.5,134.416667,62.0,"UDSKOE, RS",FM-12,99999,V020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"54.5,134.4166666"
1,31285099999,2024-01-01T03:00:00,4,54.5,134.416667,62.0,"UDSKOE, RS",FM-12,99999,V020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"54.5,134.4166666"
2,31285099999,2024-01-01T06:00:00,4,54.5,134.416667,62.0,"UDSKOE, RS",FM-12,99999,V020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"54.5,134.4166666"
3,31285099999,2024-01-01T09:00:00,4,54.5,134.416667,62.0,"UDSKOE, RS",FM-12,99999,V020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"54.5,134.4166666"
4,31285099999,2024-01-01T12:00:00,4,54.5,134.416667,62.0,"UDSKOE, RS",FM-12,99999,V020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"54.5,134.4166666"